@import "../shared/colors.scss";

.setting-wrapper {
  padding: 0 20px;
  width: 400px;

  h2 {
    margin-top: 20px;
  }

  .mat-form-field {
    width: 100%;
  }
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reset-button {
  margin-left: 10px;
  background-color: #ccc;
}

.submit-button {
  background-color: $amber;
}
